<div id="wpl_wrapper">
    <div id="wpl_store_header">
        <img class="logo" src="http://placehold.it/200x50?text=Your+Logo" alt="Your Logo should go here" />
        <div class="hotline">HOTLINE: 123 - 456 789</div>
        <div class="clearfix"> </div>
    </div>
    <div class="main_section">
        <h3 class="bar">[[product_title]]</h3>

        <div id="gallery">
            <div id="wpl_main_image">
                [[product_main_image]]
            </div>
            <div id="wpl_list_images">
                [[additional_product_images]]
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="description">
            <h2>[[product_title]]</h2>
            <div class="long_desc">[[product_content]]</div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="section">
        <h3 class="bar">Shipping</h3>
        <p><strong>Shipping cost:</strong><br /> <i>replace this text with your shipping information</i></p>
        <p><strong>Delivery time:</strong><br /> <i>replace this text with your shipping information</i></p>
    </div>
    <div class="section">
        <h3 class="bar">Payment</h3>
        <p>We accept the following payment methods:</p>
        <ul>
            <li>first payment option</li>
            <li>second payment option</li>
            <li>third payment option</li>
        </ul>
        <p>Please contact us if you have any questions.</p>
    </div>
    <div class="section">
        <h3 class="bar">Service</h3>
        <p><i>replace this text with your service information</i></p>
    </div>
</div>
