
							<p>
								<h4>Import your products from Amazon</h4>
								<ol>
									<li>Visit <a href="admin.php?page=wpla-reports">Reports</a></li>
									<li>Request a new <i>Merchant Listings Report</i></li>
									<li>Wait until the report has been generated...</li>
									<li>Load the report</li>
									<li>Process the report</li>
									<li>Visit <a href="admin.php?page=wpla">Listings</a></li>
									<li>Import your products</li>
								</ol>
								Please send bug reports to support@wplab.com
							</p>
