
							<p>
								The process of listing products depends on whether the product already exists on Amazon:
							</p>

							<p>
								<h4>List products that already exist on Amazon</h4>
								<ol>
									<li>visit your <a href="edit.php?post_type=product">products</a></li>
									<li>click on the search glass icon next to the product you want to list</li>
									<li>select the matching Amazon product from the list of search results</li>
									<li>visit the <a href="admin.php?page=wpla-feeds">feeds page</a> - there should be a new pending feed</li>
									<li>wait until the feed has been submitted - or submit the pending feed by clicking "submit feed"</li>
									<li>check if there were any warnings or errors after the feed has been processed</li>
								</ol>
							</p>

							<p>
								<h4>List new products that do <i>not</i> exist on Amazon yet</h4>
								<ol>
									<li>enable the required categories in <a href="admin.php?page=wpla-settings&tab=categories">Settings &raquo; Categories</a></li>
									<li>visit your <a href="edit.php?post_type=product">products</a></li>
									<li>tick the checkbox next to each product you want to list</li>
									<li>select "List on Amazon" from the bulk actions drop down and click "Apply"</li>
									<li>select a listing profile (see below)</li>
									<li>check the <a href="admin.php?page=wpla&listing_status=prepared">prepared listings</a> if everything looks all right</li>
									<li>visit the <a href="admin.php?page=wpla-feeds">feeds page</a> - there should be a new pending feed</li>
									<li>wait until the feed has been submitted - or submit the pending feed by clicking "submit feed"</li>
									<li>check if there were any warnings or errors after the feed has been processed</li>
								</ol>
								<b>Note:</b> You need to create a <i>listing profile</i> before you can start listing new products. Additionally, each new product needs to have either a UPC or EAN provided on the edit product page.
							</p>

