@import "bourbon";

@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
@media only screen and (max-width: 1300px) {
  body {
    //background: red !important;
  }
  .tve-ult-bar-content {
    padding: 0 40px;
  }
  .tve-ult-bar .tve-ult-close {
    @include transform(translateY(0));
    right: 5px;
    top: 20px;
  }
}

@media only screen and (max-width: 1080px) {
  body {
    //   background: yellow !important;
  }
}

@media only screen and (max-width: 940px) {
  body {
    //  background: blue !important;
  }
}

@media only screen and (max-width: 774px) {
  body {
    //  background: green !important;
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 540px) {
  body {
    //   background: pink !important;
  }
  .tve-ult-bar .tve-ult-bar-content {
    min-width: 100px;
  }
  .tl-style {
    //reset heading font size
    h1 {
      font-size: 33px !important;
    }
    h2 {
      font-size: 30px !important;
    }
    h3 {
      font-size: 25px !important;
    }
    h4 {
      font-size: 22px !important;
    }
    h5 {
      font-size: 18px !important;
    }
    h6 {
      font-size: 17px !important;
    }
  }
}
