@import "bourbon";
@import "_countdown";
@import "../../../assets/css/sass/variables";

/*
 * this should contain general styles needed for the widget
 */

/* widget design */
.tve-ult-widget {
  position: relative;
  z-index: 0;
  opacity: 0;
  &.tvu-triggered {
    opacity: 1;
    @include transition(opacity .6s);
  }
  .thrv_ult_widget {
    padding: 10px;
    margin: 0;
    .thrv_bullets_shortcode {
      li {
        background: none;
        border-bottom: 0;
        padding: 0;
      }
    }
  }
}

@each $border in $borderStyles {
  .tve_brdr_#{$border} {
    border-style: #{$border} !important;
  }
}