$font-family: 'Lato', sans-serif;
$font-family2: 'Open Sans Condensed', sans-serif;
/*heading*/
$heading-color: #fff;
$heading-font-weight: 300;
$heading-font-size: 29px;
$heading-line-height: 1em;
/*paragraph*/
$paragraph-color: #333;
$paragraph-font-size: 18px;
$paragraph-font-weight: 300;
$paragraph-line-height: 1.364em;
$paragraph-margin-bottom: 20px;
$paragraph-bold-weight: 700;

/*close button*/
$close-btn-bg: transparent;
$close-btn-color: #a0a09e;
$close-btn-no-border: false;
$close-btn-size: 20px;
$close-btn-font-size: 15px;
$close-btn-line-height: 16px;

/*buttons*/
$button-border-radius: 50px;
$button-box-shadow: 0 -2px 0 0 rgba(#000, .3) inset;
$button-text-shadow: none;
$button-font-size: 20px;
$button-font-weight: 700;
$button-line-height: 24px;
$button-padding: 15px 25px;
$button-padding-r: 15px 25px;
$transparent-bg: false;

//if buttons have the same color on default state
$same-colors-for-btns: true;
$button-default-color: #fff;

//if white button has a different color than the rest
$different-btn-white: true;
$button-white-color: #333330;

//if orange button has a different color than the rest
$different-btn-orange: false;
$button-orange-color: #000;

$button-color-hover: #fff;

//if white button has a different color on hover
$different-btn-white-h: true;
$button-white-color-h: #333330;

//if orange button has a different color on hover
$different-btn-orange-h: false;
$button-orange-color-h: #000;

//if white button has a different color active
$different-btn-white-a: true;
$button-white-color-a: #333330;

//if orange button has a different color active
$different-btn-orange-a: false;
$button-orange-color-a: #333;

//if same bg as active
$same-active-bg: false;
$button-active-bg: #fff;
$button-active-border: #fff;

/*countdown*/
//has background
$countdown-no-background: true;

//has border
$countdown-no-border: true;

//if same color items
$countdown-same-color-items: true;
$countdown-item-bg: #fff;

$countdown-item-border-radius: 50px;
$item-color: #fff;
$item-color-dark: #333333;
$item-font-size: 23px;
$item-font-weight: 700;
$item-font-style: normal;
$item-line-height: 50px;
$item-height: 40px; //numbers height, not the whole item
$item-min-width: 30px; //numbers width (without padding)
$item-spacing: 20px; //space from the outer margin to the first number
$item-padding: $item-spacing;
$item2-spacing: $item-spacing + ($item-min-width/2);
$item3-spacing: $item2-spacing + ($item-min-width/2);
$item4-spacing: $item3-spacing + ($item-min-width/2);
//countdown responsive size
$item-font-size-r: 18px;
$item-line-height-r: 30px;
$item-height-r: 30px; //numbers height, not the whole item
$item-min-width-r: 36px; //numbers width (without padding)
$item-spacing-r: 10px; //space from the outer margin to the first number
$item-padding-r: $item-spacing-r;
$item2-spacing-r: $item-spacing-r + ($item-min-width-r/2);
$item3-spacing-r: $item2-spacing-r + ($item-min-width-r/2);
$item4-spacing-r: $item3-spacing-r + ($item-min-width-r/2);
//caption
$caption-color: #fff;
$caption-color-dark: #333;
$caption-font-weight: 700;
$caption-font-size: 11px;

$color-pallete: 'blue' #1e83ec #1c7ce0 #1b76d4,
'black' #333330 #242422 #000000,
'green' #2bb669 #29ad64 #259b5a,
'white' #ffffff #f2f2f2 #e5e5e5,
'orange' #f2d03b #e6c538 #d9bb35,
'purple' #6f68b2 #6963a9 #645da0,
'red' #b32525 #aa2323 #a12121,
'teal' #00c2a9 #00b8a0 #00ae98;
