$font-family: 'Lato', sans-serif;
$font-family2: 'Abril Fatface', cursive;
/*heading*/
$heading-color: #fff;
$heading-font-weight: 700;
$heading-font-size: 32px;
$heading-line-height: 1em;
/*paragraph*/
$paragraph-color: #fff;
$paragraph-font-size: 18px;
$paragraph-font-weight: 300;
$paragraph-line-height: 1.364em;
$paragraph-margin-bottom: 20px;
$paragraph-bold-weight: 700;

/*close button*/
$close-btn-bg: transparent;
$close-btn-color: #fff;
$close-btn-no-border: false;
$close-btn-size: 20px;
$close-btn-font-size: 15px;
$close-btn-line-height: 16px;

/*buttons*/
$button-border-radius: 5px;
$button-box-shadow: none;
$button-text-shadow: none;
$button-font-size: 17px;
$button-font-weight: 400;
$button-line-height: 24px;
$button-padding: 10px 25px;
$button-padding-r: 10px 25px;
$transparent-bg: false;

//if buttons have the same color on default state
$same-colors-for-btns: true;
$button-default-color: #fff;

//if white button has a different color than the rest
$different-btn-white: true;
$button-white-color: #333333;

//if orange button has a different color than the rest
$different-btn-orange: false;
$button-orange-color: #ffd302;

$button-color-hover: #fff;

//if white button has a different color on hover
$different-btn-white-h: true;
$button-white-color-h: #333;

//if orange button has a different color on hover
$different-btn-orange-h: false;
$button-orange-color-h: #ffd302;

//if white button has a different color active
$different-btn-white-a: true;
$button-white-color-a: #333;

//if orange button has a different color active
$different-btn-orange-a: false;
$button-orange-color-a: #ffd302;

//if same bg as active
$same-active-bg: false;
$button-active-bg: #fff;
$button-active-border: #fff;

/*countdown*/
//has background
$countdown-no-background: true;

//has border
$countdown-no-border: false;

//if same color items
$countdown-same-color-items: true;
$countdown-item-bg: transparent;

$countdown-item-border-radius: 50px;
$item-color: #fff;
$item-color-dark: #333333;
$item-font-size: 23px;
$item-font-weight: 700;
$item-font-style: normal;
$item-line-height: 50px;
$item-height: 40px; //numbers height, not the whole item
$item-min-width: 30px; //numbers width (without padding)
$item-spacing: 20px; //space from the outer margin to the first number
$item-padding: $item-spacing;
$item2-spacing: $item-spacing + ($item-min-width/2);
$item3-spacing: $item2-spacing + ($item-min-width/2);
$item4-spacing: $item3-spacing + ($item-min-width/2);
//countdown responsive size
$item-font-size-r: 18px;
$item-line-height-r: 30px;
$item-height-r: 30px; //numbers height, not the whole item
$item-min-width-r: 36px; //numbers width (without padding)
$item-spacing-r: 10px; //space from the outer margin to the first number
$item-padding-r: $item-spacing-r;
$item2-spacing-r: $item-spacing-r + ($item-min-width-r/2);
$item3-spacing-r: $item2-spacing-r + ($item-min-width-r/2);
$item4-spacing-r: $item3-spacing-r + ($item-min-width-r/2);
//caption
$caption-color: #fff;
$caption-color-dark: #333;
$caption-font-weight: 700;
$caption-font-size: 11px;

$color-pallete: 'blue' #4b97f4 #327ddb #5fa2f5 #2d70c3 #378bf3 #2c5991,
'black' #767676 #5c5c5c #858585 #525252 #666666 #363636,
'green' #aac92d #90af13 #b3cf44 #819d11 #a0c315 #556612,
'white' #fff #dbdbdb #f5f5f5 #c3c3c3 #f3f3f3 #848484,
'orange' #e9c249 #d0a82f #ecc95d #b9962a #e7bb34 #887129,
'purple' #aa92f8 #9079de #b39ef9 #816cc6 #a086f7 #594c86,
'red' #fa3327 #e0190d #fa493e #c8170c #f91c0e #9f1209,
'teal' #65dbf1 #4bc1d7 #75dff2 #43adc0 #53d7ef #377a87;

