$font-family: 'Roboto', sans-serif;
$font-family2: 'Cookie', cursive;
/*heading*/
$heading-color: #ffffff;
$heading-font-weight: 500;
$heading-font-size: 28px;
$heading-line-height: 1em;
/*paragraph*/
$paragraph-color: #fff;
$paragraph-font-size: 22px;
$paragraph-font-weight: 300;
$paragraph-line-height: 1.364em;
$paragraph-margin-bottom: 20px;
$paragraph-bold-weight: 700;

/*close button*/
$close-btn-bg: #ff7956;
$close-btn-color: #ff6138;
$close-btn-no-border: true;
$close-btn-size: 20px;
$close-btn-font-size: 15px;
$close-btn-line-height: 16px;

/*buttons*/
$button-border-radius: 5px;
$button-box-shadow: none;
$button-text-shadow: none;
$button-font-size: 24px;
$button-font-weight: 400;
$button-line-height: 34px;
$button-padding: 15px 50px;
$button-padding-r: 15px 50px;
$transparent-bg: false;

//if buttons have the same color on default state
$same-colors-for-btns: true;
$button-default-color: #fff;

//if white button has a different color than the rest
$different-btn-white: true;
$button-white-color: #171717;

//if orange button has a different color than the rest
$different-btn-orange: false;
$button-orange-color: #000;

$button-color-hover: #fff;

//if white button has a different color on hover
$different-btn-white-h: true;
$button-white-color-h: #171717;

//if orange button has a different color on hover
$different-btn-orange-h: false;
$button-orange-color-h: #000;

//if white button has a different color active
$different-btn-white-a: true;
$button-white-color-a: #171717;

//if orange button has a different color active
$different-btn-orange-a: false;
$button-orange-color-a: #333;

//if same bg as active
$same-active-bg: false;
$button-active-bg: #fff;
$button-active-border: #fff;

/*countdown*/
//has background
$countdown-no-background: true;

//has border
$countdown-no-border: true;

//if same color items
$countdown-same-color-items: true;
$countdown-item-bg: #fff;

$countdown-item-border-radius: 0;
$item-color: inherit;
$item-color-dark: inherit;
$item-font-size: 37px;
$item-font-weight: 700;
$item-font-style: normal;
$item-line-height: 50px;
$item-height: 50px; //numbers height, not the whole item
$item-min-width: 42px; //numbers width (without padding)
$item-spacing: 9px; //space from the outer margin to the first number
$item-padding: $item-spacing;
$item2-spacing: $item-spacing + ($item-min-width/2);
$item3-spacing: $item2-spacing + ($item-min-width/2);
$item4-spacing: $item3-spacing + ($item-min-width/2);
//countdown responsive size
$item-font-size-r: 25px;
$item-line-height-r: 40px;
$item-height-r: 40px; //numbers height, not the whole item
$item-min-width-r: 30px; //numbers width (without padding)
$item-spacing-r: 5px; //space from the outer margin to the first number
$item-padding-r: $item-spacing-r;
$item2-spacing-r: $item-spacing-r + ($item-min-width-r/2);
$item3-spacing-r: $item2-spacing-r + ($item-min-width-r/2);
$item4-spacing-r: $item3-spacing-r + ($item-min-width-r/2);
//caption
$caption-color: #fff;
$caption-color-dark: #333333;
$caption-font-weight: 700;
$caption-font-size: 10px;


$color-pallete:
'blue' #214697 #1a3776 #1e3f88 #17316a #1a3674 #142a5b #214697,
'black' #525252 #404040 #424242 #343434 #313131 #262626 #fff,
'green' #32d94c #27a93b #2dc344 #239835 #2bb941 #229033 #34b334,
'white' #ffffff #c7c7c7 #f2f2f2 #bdbdbd #e5e5e5 #b3b3b3 #161616,
'orange' #ffc535 #c79a29 #e5b130 #b38a25 #d9a82d #a98323 #ffc535,
'purple' #6b4597 #543676 #603e88 #4b306a #5b3b80 #472e64 #6b4597,
'red' #ff6138 #c74c2c #e55732 #b34427 #d95330 #a94125 #ff6138,
'teal' #6bbfcb #54959e #60acb6 #4b868e #5ba3ad #477f87 #5ba3ad;