$font-family: 'Lato', sans-serif;

/*countdown*/
//has background
$countdown-no-background: false;

//has border
$countdown-no-border: true;

//if same color items
$countdown-same-color-items : false;
$countdown-item-bg: #fff;

$countdown-item-border-radius: 50px;
$item-color: #333;
$item-color-dark: #fff;
$item-font-size: 46px;
$item-font-weight: 700;
$item-font-style: normal;
$item-line-height: 86px;
$item-height: 86px; //numbers height, not the whole item
$item-min-width: 50px; //numbers width (without padding)
$item-spacing: 18px; //space from the outer margin to the first number
$item-padding: $item-spacing;
$item2-spacing: $item-spacing + ($item-min-width/2);
$item3-spacing: $item2-spacing + ($item-min-width/2);
$item4-spacing: $item3-spacing + ($item-min-width/2);
//countdown responsive size
$item-font-size-r: 18px;
$item-line-height-r: 30px;
$item-height-r: 30px; //numbers height, not the whole item
$item-min-width-r: 36px; //numbers width (without padding)
$item-spacing-r: 10px; //space from the outer margin to the first number
$item-padding-r: $item-spacing-r;
$item2-spacing-r: $item-spacing-r + ($item-min-width-r/2);
$item3-spacing-r: $item2-spacing-r + ($item-min-width-r/2);
$item4-spacing-r: $item3-spacing-r + ($item-min-width-r/2);
//caption
$caption-color: #333333;
$caption-color-dark: #cccccc;
$caption-font-weight: 400;
$caption-font-size: 14px;

$color-pallete:
        'blue' #00acea,
        'black' #0d0d0d,
        'green' #88c752,
        'white' #ffffff,
        'orange' #fb9239,
        'purple' #79519f,
        'red' #a1431f,
        'teal' #1ec1bb;

