$font-family: 'Roboto Condensed', sans-serif;

/*countdown*/
//has background
$countdown-no-background: true;

//has border
$countdown-no-border: false;

//if same color items
$countdown-same-color-items: true;
$countdown-item-bg: #fff;

$countdown-item-border-radius: 0px;
$item-color: #333333;
$item-color-dark: #313131;
$item-font-size: 46px;
$item-font-weight: 700;
$item-font-style: normal;
$item-line-height: 60px;
$item-height: 60px; //numbers height, not the whole item
$item-min-width: 40px; //numbers width (without padding)
$item-spacing: 28px; //space from the outer margin to the first number
$item-padding: $item-spacing;
$item2-spacing: $item-spacing + ($item-min-width/2);
$item3-spacing: $item2-spacing + ($item-min-width/2);
$item4-spacing: $item3-spacing + ($item-min-width/2);
//countdown responsive size
$item-font-size-r: 18px;
$item-line-height-r: 30px;
$item-height-r: 30px; //numbers height, not the whole item
$item-min-width-r: 36px; //numbers width (without padding)
$item-spacing-r: 10px; //space from the outer margin to the first number
$item-padding-r: $item-spacing-r;
$item2-spacing-r: $item-spacing-r + ($item-min-width-r/2);
$item3-spacing-r: $item2-spacing-r + ($item-min-width-r/2);
$item4-spacing-r: $item3-spacing-r + ($item-min-width-r/2);
//caption
$caption-color: #fff;
$caption-color-dark: #fff;
$caption-font-weight: 400;
$caption-font-size: 15px;

$color-pallete:
'blue' #356ea4,
'black' #313131,
'green' #43a139,
'white' #999999,
'orange' #ff782f,
'purple' #77528b,
'red' #da0909,
'teal' #35b998;

