$font-family: 'Lato', sans-serif;
/*heading*/
$heading-color: #d7fe3a;
$heading-font-weight: 300;
$heading-font-size: 26px;
$heading-line-height: 1em;
/*paragraph*/
$paragraph-color: #333333;
$paragraph-font-size: 17px;
$paragraph-font-weight: 400;
$paragraph-line-height: 1.556em;
$paragraph-margin-bottom: 20px;
$paragraph-bold-weight: 700;

/*close button*/
$close-btn-bg: #313130;
$close-btn-color: #101001;
$close-btn-no-border: true;
$close-btn-size: 22px;
$close-btn-font-size: 20px;
$close-btn-line-height: 17px;

/*buttons*/
$button-border-radius: 50px;
$button-box-shadow: none;
$button-text-shadow: none;
$button-font-size: 24px;
$button-font-weight: 400;
$button-line-height: 34px;
$button-padding: 13px 50px;
$button-padding-r: 5px 20px;
$transparent-bg: true;

//if buttons have the same color on default state
$same-colors-for-btns: false;
$button-default-color: #fff;

//if white button has a different color than the rest
$different-btn-white: false;
$button-white-color: #000;

//if orange button has a different color than the rest
$different-btn-orange: false;
$button-orange-color: #d7fe3a;

$button-color-hover: #fff;

//if white button has a different color on hover
$different-btn-white-h: true;
$button-white-color-h: #000;

//if orange button has a different color on hover
$different-btn-orange-h: true;
$button-orange-color-h: #000;

//if white button has a different color active
$different-btn-white-a: true;
$button-white-color-a: #333333;

//if orange button has a different color active
$different-btn-orange-a: true;
$button-orange-color-a: #333333;

//if same bg as active
$same-active-bg: false;
$button-active-bg: #fff;
$button-active-border: #fff;

/*countdown*/
//has background
$countdown-no-background: true;

//has border
$countdown-no-border: true;

//if same color items
$countdown-same-color-items: false;
$countdown-item-bg: #fff;

$countdown-item-border-radius: 50px;
$item-color: #fff;
$item-color-dark: #000;
$item-font-size: 21px;
$item-font-weight: 700;
$item-font-style: normal;
$item-line-height: 50px;
$item-height: 40px; //numbers height, not the whole item
$item-min-width: 30px; //numbers width (without padding)
$item-spacing: 20px; //space from the outer margin to the first number
$item-padding: $item-spacing;
$item2-spacing: $item-spacing + ($item-min-width/2);
$item3-spacing: $item2-spacing + ($item-min-width/2);
$item4-spacing: $item3-spacing + ($item-min-width/2);
//countdown responsive size
$item-font-size-r: 18px;
$item-line-height-r: 30px;
$item-height-r: 30px; //numbers height, not the whole item
$item-min-width-r: 36px; //numbers width (without padding)
$item-spacing-r: 10px; //space from the outer margin to the first number
$item-padding-r: $item-spacing-r;
$item2-spacing-r: $item-spacing-r + ($item-min-width-r/2);
$item3-spacing-r: $item2-spacing-r + ($item-min-width-r/2);
$item4-spacing-r: $item3-spacing-r + ($item-min-width-r/2);
//caption
$caption-color: #fff;
$caption-color-dark: #000;
$caption-font-weight: 400;
$caption-font-size: 11px;


$color-pallete: 'blue' #01bff3 #6edddc #01acda #01bff3,
'black' #000000 #393939 #000000 #000000,
'green' #45df9c #45df9c #3ec88c #45df9c,
'white' #ffffff #ffffff #e5e5e5 #ddd,
'orange' #d7fe3a #d7fe3a #c1e434 #d7fe3a,
'purple' #ae90dc #ae90dc #9c81c6 #ae90dc,
'red' #ff6633 #e55c2e #e55c2e #ff6633,
'teal' #6edddc #6edddc #63c6c6 #6edddc;