$font-family: 'Lato', sans-serif;

/*countdown*/
//has background
$countdown-no-background: false;

//has border
$countdown-no-border: true;

//if same color items
$countdown-same-color-items : false;
$countdown-item-bg: #fff;

$countdown-item-border-radius: 50px;
$item-color: #333;
$item-color-dark: #1d1d1d;
$item-font-size: 32px;
$item-font-weight: 700;
$item-font-style: normal;
$item-line-height: 54px;
$item-height: 48px; //numbers height, not the whole item
$item-min-width: 40px; //numbers width (without padding)
$item-spacing: 25px; //space from the outer margin to the first number
$item-padding: $item-spacing;
$item2-spacing: $item-spacing + ($item-min-width/2);
$item3-spacing: $item2-spacing + ($item-min-width/2);
$item4-spacing: $item3-spacing + ($item-min-width/2);
//countdown responsive size
$item-font-size-r: 18px;
$item-line-height-r: 30px;
$item-height-r: 30px; //numbers height, not the whole item
$item-min-width-r: 36px; //numbers width (without padding)
$item-spacing-r: 10px; //space from the outer margin to the first number
$item-padding-r: $item-spacing-r;
$item2-spacing-r: $item-spacing-r + ($item-min-width-r/2);
$item3-spacing-r: $item2-spacing-r + ($item-min-width-r/2);
$item4-spacing-r: $item3-spacing-r + ($item-min-width-r/2);
//caption
$caption-color: #fff;
$caption-color-dark: #fff;
$caption-font-weight: 400;
$caption-font-size: 14px;

$color-pallete:
        'blue' #1845a2,
        'black' #282828,
        'green' #43a139,
        'white' #7e7e7e,
        'orange' #bf8b28,
        'purple' #5b4a9b,
        'red' #8a0917,
        'teal' #249f89;

