$font-family: 'Roboto', sans-serif;
$font-family2: 'Roboto Slab', sans-serif;
/*heading*/
$heading-color: #fff;
$heading-font-weight: 700;
$heading-font-size: 25px;
$heading-line-height: 1em;
/*paragraph*/
$paragraph-color: #fff;
$paragraph-font-size: 18px;
$paragraph-font-weight: 300;
$paragraph-line-height: 1.364em;
$paragraph-margin-bottom: 20px;
$paragraph-bold-weight: 700;

/*close button*/
$close-btn-bg: transparent;
$close-btn-color: #f8c715;
$close-btn-no-border: false;
$close-btn-size: 20px;
$close-btn-font-size: 15px;
$close-btn-line-height: 16px;

/*buttons*/
$button-border-radius: 0;
$button-box-shadow: 0 2px 0 0 rgba(#88611e, .26);
$button-text-shadow: none;
$button-font-size: 20px;
$button-font-weight: 500;
$button-line-height: 24px;
$button-padding: 13px 25px;
$button-padding-r: 13px 25px;
$transparent-bg: false;

//if buttons have the same color on default state
$same-colors-for-btns: true;
$button-default-color: #fff;

//if white button has a different color than the rest
$different-btn-white: true;
$button-white-color: #333;

//if orange button has a different color than the rest
$different-btn-orange: true;
$button-orange-color: #78610f;

$button-color-hover: #fff;

//if white button has a different color on hover
$different-btn-white-h: true;
$button-white-color-h: #333;

//if orange button has a different color on hover
$different-btn-orange-h: true;
$button-orange-color-h: #78610f;

//if white button has a different color active
$different-btn-white-a: true;
$button-white-color-a: #333;

//if orange button has a different color active
$different-btn-orange-a: true;
$button-orange-color-a: #78610f;

//if same bg as active
$same-active-bg: false;
$button-active-bg: #fff;
$button-active-border: #fff;

/*countdown*/
//has background
$countdown-no-background: true;

//has border
$countdown-no-border: true;

//if same color items
$countdown-same-color-items: true;
$countdown-item-bg: #fff;

$countdown-item-border-radius: 50px;
$item-color: #fff;
$item-color-dark: #333333;
$item-font-size: 23px;
$item-font-weight: 700;
$item-font-style: normal;
$item-line-height: 50px;
$item-height: 40px; //numbers height, not the whole item
$item-min-width: 30px; //numbers width (without padding)
$item-spacing: 20px; //space from the outer margin to the first number
$item-padding: $item-spacing;
$item2-spacing: $item-spacing + ($item-min-width/2);
$item3-spacing: $item2-spacing + ($item-min-width/2);
$item4-spacing: $item3-spacing + ($item-min-width/2);
//countdown responsive size
$item-font-size-r: 18px;
$item-line-height-r: 30px;
$item-height-r: 30px; //numbers height, not the whole item
$item-min-width-r: 36px; //numbers width (without padding)
$item-spacing-r: 10px; //space from the outer margin to the first number
$item-padding-r: $item-spacing-r;
$item2-spacing-r: $item-spacing-r + ($item-min-width-r/2);
$item3-spacing-r: $item2-spacing-r + ($item-min-width-r/2);
$item4-spacing-r: $item3-spacing-r + ($item-min-width-r/2);
//caption
$caption-color: #fff;
$caption-color-dark: #333;
$caption-font-weight: 700;
$caption-font-size: 11px;

$color-pallete: 'blue' #49b2ee #5cbaf0 #6dc1f1 #1475ad,
'black' #333333 #484848 #5c5c5c #000,
'green' #56c969 #67cf78 #78d487 #189b2e,
'white' #d9d9d9 #e4e4e4 #fff #b3b3b3,
'orange' #f8c715 #f9cd2d #f9d244 #ffc800,
'purple' #b085dc #b891e0 #c09de3 #7c31c8,
'red' #fb7533 #fb8348 #fc915c #ff5400,
'teal' #64d6d7 #74dadb #83dedf #19829a;
