$font-family: 'Lato', sans-serif;
$font-family2: 'Dancing Script', cursive;
/*heading*/
$heading-color: #0d0d0d;
$heading-font-weight: 300;
$heading-font-size: 24px;
$heading-line-height: 1em;
/*paragraph*/
$paragraph-color: #000;
$paragraph-font-size: 24px;
$paragraph-font-weight: 300;
$paragraph-line-height: 1.364em;
$paragraph-margin-bottom: 20px;
$paragraph-bold-weight: 700;

/*close button*/
$close-btn-bg: transparent;
$close-btn-color: #3e3f4b;
$close-btn-no-border: false;
$close-btn-size: 20px;
$close-btn-font-size: 15px;
$close-btn-line-height: 16px;

/*buttons*/
$button-border-radius: 0;
$button-box-shadow: none;
$button-text-shadow: none;
$button-font-size: 18px;
$button-font-weight: 500;
$button-line-height: 37px;
$button-padding: 5px 25px;
$button-padding-r: 5px 25px;
$transparent-bg: false;

//if buttons have the same color on default state
$same-colors-for-btns: true;
$button-default-color: #fff;

//if white button has a different color than the rest
$different-btn-white: true;
$button-white-color: #333333;

//if orange button has a different color than the rest
$different-btn-orange: false;
$button-orange-color: #000;

$button-color-hover: #fff;

//if white button has a different color on hover
$different-btn-white-h: true;
$button-white-color-h: #333333;

//if orange button has a different color on hover
$different-btn-orange-h: false;
$button-orange-color-h: #000;

//if white button has a different color active
$different-btn-white-a: true;
$button-white-color-a: #333333;

//if orange button has a different color active
$different-btn-orange-a: false;
$button-orange-color-a: #333;

//if same bg as active
$same-active-bg: false;
$button-active-bg: #fff;
$button-active-border: #fff;

/*countdown*/
//has background
$countdown-no-background: true;

//has border
$countdown-no-border: true;

//if same color items
$countdown-same-color-items: true;
$countdown-item-bg: #fff;

$countdown-item-border-radius: 50px;
$item-color: #fff;
$item-color-dark: #333333;
$item-font-size: 23px;
$item-font-weight: 700;
$item-font-style: italic;
$item-line-height: 50px;
$item-height: 40px; //numbers height, not the whole item
$item-min-width: 30px; //numbers width (without padding)
$item-spacing: 20px; //space from the outer margin to the first number
$item-padding: $item-spacing;
$item2-spacing: $item-spacing + ($item-min-width/2);
$item3-spacing: $item2-spacing + ($item-min-width/2);
$item4-spacing: $item3-spacing + ($item-min-width/2);
//countdown responsive size
$item-font-size-r: 18px;
$item-line-height-r: 30px;
$item-height-r: 30px; //numbers height, not the whole item
$item-min-width-r: 36px; //numbers width (without padding)
$item-spacing-r: 10px; //space from the outer margin to the first number
$item-padding-r: $item-spacing-r;
$item2-spacing-r: $item-spacing-r + ($item-min-width-r/2);
$item3-spacing-r: $item2-spacing-r + ($item-min-width-r/2);
$item4-spacing-r: $item3-spacing-r + ($item-min-width-r/2);
//caption
$caption-color: #fff;
$caption-color-dark: #333;
$caption-font-weight: 700;
$caption-font-size: 11px;


$color-pallete: 'blue' #4960ab #576cb2 #8695c8,
'black' #3e3f4b #4d4e59 #72737a,
'green' #398d6e #499679 #87c0aa,
'white' #ffffff #f0f0f0 #f0f0f0,
'orange' #d0711c #d7863e #ebae78,
'purple' #6b5c97 #77699f #b2a7d2,
'red' #a1214b #a83259 #d6668b,
'teal' #4aa8a0 #58afa7 #c8dada;
