$font-family: 'Poppins', sans-serif;

/*countdown*/
//has background
$countdown-no-background: true;

//has border
$countdown-no-border: false;

//if same color items
$countdown-same-color-items: false;
$countdown-item-bg: #fff;

$countdown-item-border-radius: 0px;
$item-color: #fff;
$item-color-dark: #000;
$item-font-size: 41px;
$item-font-weight: 400;
$item-font-style: normal;
$item-line-height: 90px;
$item-height: 84px; //numbers height, not the whole item
$item-min-width: 48px; //numbers width (without padding)
$item-spacing: 20px; //space from the outer margin to the first number
$item-padding: $item-spacing;
$item2-spacing: $item-spacing + ($item-min-width/2);
$item3-spacing: $item2-spacing + ($item-min-width/2);
$item4-spacing: $item3-spacing + ($item-min-width/2);
//countdown responsive size
$item-font-size-r: 18px;
$item-line-height-r: 30px;
$item-height-r: 30px; //numbers height, not the whole item
$item-min-width-r: 36px; //numbers width (without padding)
$item-spacing-r: 10px; //space from the outer margin to the first number
$item-padding-r: $item-spacing-r;
$item2-spacing-r: $item-spacing-r + ($item-min-width-r/2);
$item3-spacing-r: $item2-spacing-r + ($item-min-width-r/2);
$item4-spacing-r: $item3-spacing-r + ($item-min-width-r/2);
//caption
$caption-color: #999999;
$caption-color-dark: #fff;
$caption-font-weight: 500;
$caption-font-size: 15px;

$color-pallete:
'blue' #2753ea,
'black' #111111,
'green' #6fa440,
'white' #ececec,
'orange' #ecbb13,
'purple' #744d90,
'red' #d0380f,
'teal' #168b93;

