
	<p><strong>1. Profil erstellen</strong></p>
	<p class="desc">
		Erstellen Sie ein Profil in welchem Sie Einstellungen wie Auktionsdauer, Versandkosten und Zahlungsweisen vornehmen. Dieses Profil kann im nächsten Schritt auf beliebig viele Produkte angewendet werden.
	</p>

	<p><strong>2. Produkte auswählen und Auktionen vorbereiten</strong></p>
	<p class="desc">
		Gehen Sie zur Produktübersicht und wählen Sie beliebig viele Produkt aus. Dann wählen Sie "Auktionen vorbereiten" aus dem Pulldown-Menü und wählen Ihr Profil im nächsten Schritt.
	</p>

	<p><strong>3. Auktionen einstellen</strong></p>
	<p class="desc">
		Jetzt können Sie Ihr vorbereiteten Auktionen überprüfen lassen um sicherzustellen, dass alle erforderlichen Angaben korrekt sind - und um die Einstellgebühren von eBay abzurufen.
	</p>
	<p class="desc">
		Oder Sie können die Artikel direkt einstellen - einzeln, als Auswahl oder alle überprüften Artikel mit einem Klick.
	</p>
	<p class="desc">
		Sie können ebenso eine Vorschau Ihrer Auktion direkt innerhalb von WP-Lister ansehen und gegebenenfalls Änderungen am Profil vornehmen. 
	</p>
