
	<p><strong>1. Link WP-Lister to your eBay account.</strong></p>
	<p class="desc">
		In order to list products in your name, WP-Lister needs access to your eBay account. Clicking the button "Connect with eBay" will take you to the eBay Sign In page, where you will be asked to grant access for WP-Lister after login.
	</p>
	<p class="desc">
		After granting access you will be asked to close the window / tab again and go back to WP-Listers settings page where you click on "Fetch Token" to complete the process.
	</p>

	<p><strong>2. Configure eBay Site and Paypal</strong></p>
	<p class="desc">
		Select the eBay Site you want to use and enter the Paypal address to receive payments.
	</p>

	<p><strong>3. Update eBay categories, shipping options, payment methods, etc.</strong></p>
	<p class="desc">
		WP-Lister needs to download certain information from the selected site, like shipping options, payment methods and more. This includes a list of all eBay categories which require a little patience since there are more than 20.000.
	</p>
