
	<p><strong>1. Create your first auction profile</strong></p>
	<p class="desc">
		Create a profile to define all options like listing duration, shipping costs and accepted payment methods for your listings. This profile will act as a template when you start to list items in the next step.
	</p>

	<p><strong>2. Select products and prepare your listings</strong></p>
	<p class="desc">
		Switch to Products and select as many products as you wish. Then select "List on eBay" from batch actions and you will be asked to select a profile for your listings.
	</p>

	<p><strong>3. List your items on eBay</strong></p>
	<p class="desc">
		Now you can either verify your prepared listings (one by one, by selection or all at once) which will make sure there are no missing requirements and will fetch the listing fee from eBay.
	</p>
	<p class="desc">
		Or you can list your items right away - again one by one, by selection or all at once.
	</p>
	<p class="desc">
		You might want to preview you listing within WordPress and if you're not satisfied you might want to apply another profile. If you make changes to a profile and want to these changes to apply to already prepared listings, you need to re-apply the profile as well.
	</p>
