
	<p><strong>1. Verknüpfen Sie WP-Lister mit Ihrem eBay-Konto</strong></p>
	<p class="desc">
		Damit WP-Lister Ihre Artikel bei eBay einstellen kann, müssen Sie das Plugin mit Ihrem eBay-Konto verknüpfen.
		Nach einem Klick auf "Mit eBay verbinden" gelangen Sie zur eBay-Anmeldeseite, wo Sie nach dem einloggen gefragt werden ob Sie WP-Lister den Zugang zu Ihrem Konto gewähren wollen.
	</p>
	<p class="desc">
		Nachdem Sie WP-Lister authorisiert haben werden Sie aufgefordert, das Fenster zu schliessen und zu den Einstellungen zurückzukehren, wo Sie auf "Token abrufen" klicken um den Prozess abzuschliessen.
	</p>

	<p><strong>2. eBay Site und PayPal konfigurieren</strong></p>
	<p class="desc">
		Wählen Sie die eBay Site und geben Sie Ihre PayPal-Adresse ein um Zahlungen zu empfangen.
	</p>

	<p><strong>3. Aktualisieren der Kategorien, Versandmethoden und Zahlungsweisen</strong></p>
	<p class="desc">
		WP-Lister wird gewisse Daten wie Kategorien, Versandarten und Zahlungsweisen von der gewählten eBay Site herunterladen, was ein paar Minuten dauern kann.
	</p>
