.wpeae-settings-content{
    padding: 0 0 0 0;
}

.wpeae-settings-content .account-content{
    padding-bottom: 20px;
}

#wpeae-goods-table .import_process_loader{font-weight: bold;}

#wpeae-goods-table .wp-list-table {min-width: 1500px;}

#wpeae-goods-table .wp-list-table .block_field { margin-bottom:5px; }

#wpeae-goods-table .wp-list-table .column-image { width: 120px; }
#wpeae-goods-table .wp-list-table .column-image > a{ display: inline-block; max-height: 100px;overflow: hidden; }
#wpeae-goods-table .wp-list-table .column-image img {width: 100%; }
#wpeae-goods-table .wp-list-table .column-title {  }
#wpeae-goods-table .wp-list-table .column-keywords {  }

#wpeae-goods-table .wp-list-table .column-ship_to_locations { width: 180px; }
#wpeae-goods-table .wp-list-table .column-info {}
#wpeae-goods-table .wp-list-table .column-condition { width: 120px; }
#wpeae-goods-table .wp-list-table .column-price { width: 120px; }
#wpeae-goods-table .wp-list-table .column-commission { width: 120px; }
#wpeae-goods-table .wp-list-table .column-user_price { width: 120px; }
#wpeae-goods-table .wp-list-table .column-ship { width: 155px; }
#wpeae-goods-table .wp-list-table .column-commisionRate { width: 155px; }
#wpeae-goods-table .wp-list-table .column-curr { width: 95px; }
#wpeae-goods-table .wp-list-table .column-validTime { width: 100px; }
#wpeae-goods-table .wp-list-table .column-volume { width: 90px; }

#wpeae-goods-table .wp-list-table label.field_label {vertical-align:top;font-style: italic;font-weight: bold; }

#wpeae-goods-table .wp-list-table .row-actions {color: #aeaeae;}

.wpeae_select_image {display: inline-block; margin: 0 20px 20px 0;}

.wpeae_select_image img {width: 150px; }
.wpeae_select_image img.sel {border: 2px solid #777;}

.link_to_source {margin: 10px 0;display: inline-block;height:18px;}

.link_to_source img{height:18px;}

.category_list, .countries_list {width:25em}
.sitecode_list {width:14em}

.category_list .level_1{}
.category_list .level_2{padding-left: 15px;}
.category_list .level_3{padding-left: 30px;}
.category_list .level_4{padding-left: 45px;}
.category_list .level_5{padding-left: 60px;}

.form-table .small-text{
    width:70px;
}

.row-actions span.id > a, 
.row-actions span.id > span > a,
.row-actions span.load_more_detail > a, 
.row-actions span.load_more_detail > i, 
.row-actions span.import > a, 
.row-actions span.import > i, 
.row-actions span.schedule_import > a,
.row-actions span.schedule_import > i {position: relative;padding-left: 20px;}
.row-actions span.load_more_detail > i, .row-actions span.import > i, .row-actions span.schedule_import > i {
    font-style: normal;
}

.row-actions span.id > a::before, 
.row-actions span.id > span > a::before,
.row-actions span.load_more_detail > a::before, 
.row-actions span.load_more_detail > i::before, 
.row-actions span.import > a::before, 
.row-actions span.import > i::before,
.row-actions span.schedule_import > a::before,
.row-actions span.schedule_import > i::before {font-family: "FontAwesome";font-size: 14px;position: absolute;left: 2px;top: -1px;}

.row-actions span.id > a::before {content: "\f13d";}
.row-actions span.id > span > a::before {content: "\f007";}
.row-actions span.load_more_detail > a::before,.row-actions span.load_more_detail > i::before {content: "\f0ed";top: 0px;}
.row-actions span.import > a::before, .row-actions span.import > i::before {content: "\f00c";}
.row-actions span.schedule_import > a::before, .row-actions span.schedule_import > i::before {content: "\f274";}

div.wpeae_module_version{
    margin-top: 40px;
}

.wp-submenu a > span.promo{
    color:#bb4444;
}
.wp-submenu a:hover > span.promo{
    color: #00b9eb;
}


/*promo page*/
.pl-wrapper {padding-right: 11px;}
.pl-wrapper h1 {font-size: 23px; font-weight: 400; margin: 0; padding: 9px 15px 4px 0; line-height: 29px;}
.pl-breadscrumbs {margin: 0 0 20px; font-size: 16px;}
.pl-breadscrumbs a {display: inline-block; font-weight: 600;}
.pl-triangle {position: relative; width: 10px; display: inline-block}
.pl-triangle:after {content:""; position: absolute; width:6px; height: 7px; background: url(../img/triangle.png) no-repeat 0 0; bottom: 1px; }
.pl-block {margin:0 0 15px; border: 1px solid #ddd; width: 297px;}
.pl-header {height: 63px; width: 298px;}
.pl-block a{
    color:#444;
    display: block;
    width:100%;
    height:100%;
    text-decoration: none;
}

.pl-block a:hover{
    background-color: #fff;
}

.pl-header a{
    display: block;
    width:100%;
    height:100%;
}

.pl-ebay {background: url(../img/ebay.png) no-repeat 0 0; }
.pl-walmart {background: url(../img/walmart.png) no-repeat 0 0; }
.pl-amazon {background: url(../img/amazon.png) no-repeat 0 0; }
.pl-envato {background: url(../img/envato.png) no-repeat 0 0; }
.pl-text {padding: 0 40px 0 20px; min-height: 157px;}
.pl-logo {width: 283px; margin: 0 auto;}
pre {margin: 0;}

@media screen and (min-width: 768px){
	.pl-block {float: left; margin: 0 15px 15px 0;}
	.pl-logo {text-align: right; width: 100%}
	.pl-main {margin: 20px 0 20px;}
	.pl-main:after {content:""; clear: both; display: table; }
}
@media screen and (min-width: 1000px){
	.pl-block {width: 285px; }
	.pl-header {height: 60px; width: 285px; background-size: 100% 100%;}
	.pl-main {margin: 20px 0 95px; }
}

@media screen and (min-width: 1400px){
	.pl-main {margin: 20px 0 250px;}
}

#wpeae_price_formula_add_form [name="type"]{
    min-width: 120px;
    width: 100%;
}

#wpeae_price_formula_add_form [name="category"]{
    min-width: 120px;
    width: 100%;
}

#wpeae_price_formula_add_form .price_label{
    width: 65px;
    text-align: center;
    white-space: nowrap;
}

#wpeae_price_formula_add_form .discount{
    white-space: nowrap;
}



#wpeae_price_formula_add_form [name="min_price"],
#wpeae_price_formula_add_form [name="max_price"],
#wpeae_price_formula_add_form [name="value"]{
    min-width: 78px;
    width: 100%;
}


#wpeae_price_formula {
}

#wpeae_price_formula .price{
    white-space:nowrap;
}

#wpeae_price_formula .column-pos{
    width:5%;
}

#wpeae_price_formula .column-module{
    width:15%;
}

#wpeae_price_formula .column-category{
    width:25%;
}

#wpeae_price_formula .column-price{
    width:20%;
}

#wpeae_price_formula .column-value{
    width:10%;
}
#wpeae_price_formula .column-discount{
    width:10%;
}

#wpeae_price_formula .column-action{
    width:15%
}

#wpeae_price_formula [name="type"]{
    min-width: 50px;
    width:100%;
}

#wpeae_price_formula [name="pos"]{
    min-width: 30px;
    width: 100%;
}

#wpeae_price_formula [name="min_price"], #wpeae_price_formula [name="max_price"]{
    width: 100%;
}

#wpeae_price_formula [name="sign"],#wpeae_price_formula [name="value"],#wpeae_price_formula [name="discount1"],#wpeae_price_formula [name="discount2"]{
    width: 100%;
}

#wpeae_price_formula [name="category"]{
    min-width: 120px;
    width: 100%;
}

#wpeae_price_formula .action{
    white-space:nowrap;
}
