@import "config/_base_set_06_config";
#tvu_set_06 {
  font-family: $font-family;
  h5 {
    color: $heading-color;
    font-weight: $heading-font-weight;
    font-size: $heading-font-size;
    font-family: $font-family;
    line-height: $heading-line-height;
    letter-spacing: normal;
    margin-bottom: 0;
  }
  p {
    color: $paragraph-color;
    font-size: $paragraph-font-size;
    font-weight: $paragraph-font-weight;
    font-family: $font-family;
    line-height: $paragraph-line-height;
    margin-bottom: $paragraph-margin-bottom;
    &.bold_text {
      font-weight: $paragraph-bold-weight;
    }
    .bold_text {
      color: #ffcc00;
      font-weight: $paragraph-bold-weight;
    }
  }
  .tve-ult-bar-close {
    background: $close-btn-bg;
    color: $close-btn-color;
    @if $close-btn-no-border {
      border: 0;
    }
    font-size: $close-btn-font-size;
    height: $close-btn-size;
    line-height: $close-btn-line-height;
    top: 20%;
    width: $close-btn-size;
  }
  //button
  .thrv_button_shortcode {
    margin-top: 0;
    margin-bottom: 0;
    .tve_btn3.tve_btn {
      @if ($transparent-bg) {
        background: none;
      }
      border-radius: $button-border-radius;
      box-shadow: $button-box-shadow;
      font-family: $font-family;
      .tve_btnLink {
        @if $same-colors-for-btns {
          color: $button-default-color;
        }
        text-shadow: $button-text-shadow;
        > span {
          color: inherit;
        }
      }
      @if $different-btn-white {
        &.tve_white {
          .tve_btnLink {
            color: $button-white-color;
          }
        }
      }
      @if $different-btn-orange {
        &.tve_orange {
          .tve_btnLink {
            color: $button-orange-color;
          }
        }
      }
      &:hover {
        .tve_btnLink {
          color: $button-color-hover;
        }
      }
      @if $same-active-bg {
        &:active:hover, &:active {
          border: 2px solid $button-active-border;
          background: $button-active-bg;
        }
      }
      @if $different-btn-white-h {
        &.tve_white {
          &:hover {
            .tve_btnLink {
              color: $button-white-color-h;
            }
          }
        }
      }
      @if $different-btn-orange-h {
        &.tve_orange {
          &:hover {
            .tve_btnLink {
              color: $button-orange-color-h;
            }
          }
        }
      }
      @if $different-btn-white-a {
        &.tve_white {
          &:active {
            .tve_btnLink {
              color: $button-white-color-a;
            }
          }
        }
      }
      @if $different-btn-orange-a {
        &.tve_orange {
          &:active {
            .tve_btnLink {
              color: $button-orange-color-a;
            }
          }
        }
      }
      &.tve_normalBtn {
        font-size: $button-font-size;
        font-weight: $button-font-weight;
        line-height: $button-line-height !important;
        .tve_btnLink {
          padding: $button-padding;
        }
      }
    }
  }
  //countdown
  .thrv_countdown_timer.tve_countdown_3 {
    margin-top: 0;
    margin-bottom: 0;
    .tve_t_part {
      border-radius: $countdown-item-border-radius;
      @if $countdown-no-border {
        border: 0;
      }
      @if $countdown-no-background {
        background: none;
      }
      padding: 0;
      .t-digits {
        @if $countdown-same-color-items {
          background: $countdown-item-bg;
        }
        box-shadow: 0 1px 5px 0 rgba(#000, .51);
        height: $item-height;
        min-width: $item-min-width;
        padding: 0 $item-padding;
        &:after {
          background: #dadada;
          height: 1px;
        }
        [class*="part-"] {
          // color: $item-color;
          font-size: $item-font-size;
          font-weight: $item-font-weight;
          font-style: $item-font-style;
          line-height: $item-line-height;
          right: $item-spacing;
          min-width: $item-min-width/2;
          width: $item-min-width/2;
        }
        .part-2 {
          right: $item2-spacing;
        }
        .part-3 {
          right: $item3-spacing;
        }
        .part-4 {
          right: $item4-spacing;
        }
      }
      .t-caption {
        border-top: 0;
        color: $caption-color;
        font-weight: $caption-font-weight;
        font-size: $caption-font-size;
        min-width: $item-min-width;
        // margin: 0 10px;
        padding: 6px 0 0 0;
        &:before {
          display: none;
        }
      }
    }
    &.tve_black {
      .t-digits {
        background: #333333;
      }
      .t-caption {
        color: $caption-color-dark;
      }
    }
    &[data-dd="2"] {
      .tve_t_day {
        .t-digits {
          min-width: $item-min-width;
        }
      }
    }
    &[data-dd="3"] {
      .tve_t_day {
        .t-digits {
          min-width: $item-min-width * 1.5;
        }
      }
    }
    &[data-dd="4"] {
      .tve_t_day {
        .t-digits {
          min-width: $item-min-width * 2;
        }
      }
    }
  }
}
//color pallete

@each $color in $color-pallete {
  #tvu_set_06 {
    .thrv_button_shortcode {
      .tve_btn3.tve_#{nth($color, 1)} {
        background: nth($color, 2);
        border-bottom: 3px solid nth($color, 3);
        &:hover {
          background: nth($color, 4);
          border-bottom: 3px solid nth($color, 5);
        }
        &:active {
          background: nth($color, 6);
          border-bottom: 3px solid nth($color, 7);
        }
      }
    }
    .thrv_countdown_timer.tve_countdown_3.tve_#{nth($color, 1)} {
      .tve_t_part {
        .t-digits {
          [class*='part-'] {
            color: nth($color, 8);
          }
        }
      }
    }
  }
}
.set-06-arrow {

}

//SUPP-2928

@media only screen and (max-width: 1024px) {
  .set-06-arrow {
    display: none;
  }
  #tvu_set_06 {
    .thrv_countdown_timer.tve_countdown_3 {
      .tve_t_part {
        .t-digits {
          height: $item-height-r;
          min-width: $item-min-width-r;
          padding: 0 $item-padding-r;
          [class*="part-"] {
            font-size: $item-font-size-r;
            line-height: $item-line-height-r;
            right: $item-spacing-r;
            min-width: $item-min-width-r/2;
            width: $item-min-width-r/2;
          }
          .part-2 {
            right: $item2-spacing-r;
          }
          .part-3 {
            right: $item3-spacing-r;
          }
          .part-4 {
            right: $item4-spacing-r;
          }
        }
        .t-caption {
          display: none;
          margin: 0 5px;
          padding: 0 0 5px;
        }
      }
      &[data-dd="2"] {
        .tve_t_day {
          .t-digits {
            min-width: $item-min-width-r;
          }
        }
      }
      &[data-dd="3"] {
        .tve_t_day {
          .t-digits {
            min-width: $item-min-width-r * 1.5;
          }
        }
      }
      &[data-dd="4"] {
        .tve_t_day {
          .t-digits {
            min-width: $item-min-width-r * 2;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 940px) {
  #tvu_set_06 {
    .thrv_countdown_timer.tve_countdown_3 {
      margin: 10px auto;
      .tve_t_part {
        margin-right: 4px;
      }
    }
  }
  .tvu-heading {
    margin-top: 0 !important;
    text-align: center !important;
  }
  .tvu-text {
    text-align: center!important;
  }
  .thrv_button_shortcode {
    .tve_btn3.tve_btn {
      &.tve_normalBtn {
        .tve_btnLink {
          padding: $button-padding-r;
        }
      }
    }
  }
}