@import "config/_base_set_27_config";

#tvu_set_27 {
  font-family: $font-family;
  //countdown
  .thrv_countdown_timer.tve_countdown_2 {
    margin-top: 0;
    margin-bottom: 0;
    .tve_t_part {
      border-radius: $countdown-item-border-radius;
      @if $countdown-no-border {
        border: 0;
      }
      @if $countdown-same-color-items {
        background: $countdown-item-bg;
      }
      @if $countdown-no-background {
        background: none;
      }
      padding: 0;
      overflow: hidden;
      .t-digits {
        height: $item-height;
        min-width: $item-min-width;
        padding: 0 $item-padding;
        [class*="part-"] {
          color: $item-color;
          font-size: $item-font-size;
          font-weight: $item-font-weight;
          font-style: $item-font-style;
          line-height: $item-line-height;
          right: $item-spacing;
          min-width: $item-min-width/2;
          width: $item-min-width/2;
        }
        .part-2 {
          right: $item2-spacing;
        }
        .part-3 {
          right: $item3-spacing;
        }
        .part-4 {
          right: $item4-spacing;
        }
      }
      .t-caption {
        color: $caption-color;
        font-weight: $caption-font-weight;
        font-size: $caption-font-size;
        min-width: $item-min-width;
        margin: 0;
        padding: 6px 0 18px;
        &:before {
          display: none;
        }
      }
    }
    &.tve_orange, &.tve_white {
      .tve_t_part {
        [class*="part-"] {
          color: $item-color-dark;
        }
        .t-caption {
          color: $caption-color-dark;
        }
      }
    }
    &[data-dd="2"] {
      .tve_t_day {
        .t-digits {
          min-width: $item-min-width;
        }
      }
    }
    &[data-dd="3"] {
      .tve_t_day {
        .t-digits {
          min-width: $item-min-width * 1.5;
        }
      }
    }
    &[data-dd="4"] {
      .tve_t_day {
        .t-digits {
          min-width: $item-min-width * 2;
        }
      }
    }
  }
}

//color pallete

@each $color in $color-pallete {
  #tvu_set_27 {
    .thrv_countdown_timer.tve_countdown_2.tve_#{nth($color, 1)} {
      .tve_t_part {
        border: 1px solid nth($color, 2);
      }
      .t-caption {
        background: nth($color, 2);
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  #tvu_set_27 {
    .thrv_countdown_timer.tve_countdown_2 {
      .tve_t_part {
        .t-digits {
          height: $item-height-r;
          min-width: $item-min-width-r;
          padding: 0 $item-padding-r;
          [class*="part-"] {
            font-size: $item-font-size-r;
            line-height: $item-line-height-r;
            right: $item-spacing-r;
            min-width: $item-min-width-r/2;
            width: $item-min-width-r/2;
          }
          .part-2 {
            right: $item2-spacing-r;
          }
          .part-3 {
            right: $item3-spacing-r;
          }
          .part-4 {
            right: $item4-spacing-r;
          }
        }
        .t-caption {
          margin: 0 5px;
          padding: 0 0 5px;
          background-color: transparent;
          color: #333;
        }
      }
      &[data-dd="2"] {
        .tve_t_day {
          .t-digits {
            min-width: $item-min-width-r;
          }
        }
      }
      &[data-dd="3"] {
        .tve_t_day {
          .t-digits {
            min-width: $item-min-width-r * 1.5;
          }
        }
      }
      &[data-dd="4"] {
        .tve_t_day {
          .t-digits {
            min-width: $item-min-width-r * 2;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 940px) {
  #tvu_set_27 {
    .thrv_countdown_timer.tve_countdown_2 {
      margin: 10px auto;
      .tve_t_part {
        margin-right: 4px;
      }
    }
  }
}