#video_seo_progressbar {
	width: 99%;
	border-radius: 4px;
	border: 1px solid #000;
	padding: 0;
}

#video_seo_progressbar .bar {
	background-color: #006691;
	height: 100%;
	margin: 0;
	width: 0%;
	padding: 0;
}

#video_seo_progressbar .bar p {
	margin: 0;
	padding: 0 10px;
	max-width: none;
	line-height: 30px;
	text-align: center;
	color: #fff;
}

#video_seo_progressbar .bar_status {
	width: 1%;
}

.video_seo_timetogo {
	font-size: 1.1em;
}
